<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a data-pagescroll="#home" href="#home">Home</a></li>
			<li {% if current[1] == 'about' %}class='current'{% endif %}><a data-pagescroll="#about" href="#about">About</a></li>
			<li {% if current[1] == 'gallery' %}class='current'{% endif %}><a data-pagescroll="#gallery" href="#gallery">Gallery</a></li>
			<li {% if current[1] == 'services' %}class='current'{% endif %}><a data-pagescroll="#services" href="#services">Services</a></li>
			<li {% if current[1] == 'contact' %}class='current'{% endif %}><a data-pagescroll="#contact" href="#contact">Contact Us</a></li>
		</ul>
	</nav>
